In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./KOSDAQ0305.xlsx', engine='openpyxl')
df.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,셀트리온헬스케어,91990,104821,16276,-226.1,63.77,13.36,7.30,5.22,6.440219,-463.604600,37397,18068,19329,1060
1,엘앤에프,66970,71013,3561,452.7,-181.01,-9.39,-3.40,9.04,19.941870,156.865474,4662,2686,1976,-1127
2,펄어비스,263750,67281,4888,1574.3,130.26,16.45,11.43,8.68,13.764525,42.737090,8972,2603,6369,780
3,카카오게임즈,293490,58739,4955,822.9,58.06,12.12,7.10,3.97,11.854490,71.380484,13099,2845,10254,1302
4,위메이드,112040,36461,1262,-148.8,67.75,-3.00,-5.93,12.15,28.891442,-245.033602,3234,674,2560,1603

In [24]:
df_roe = df[['종목명','종목코드','ROE']]
df_roe.head()

        종목명    종목코드    ROE
0  셀트리온헬스케어   91990  13.36
1      엘앤에프   66970  -9.39
2      펄어비스  263750  16.45
3    카카오게임즈  293490  12.12
4      위메이드  112040  -3.00

In [25]:
df_roe = df_roe[df_roe.ROE > 0]
df_roe = df_roe.sort_values(by='ROE', ascending=False)
df_roe.tail()

            종목명    종목코드   ROE
959       GH신소재  130500  0.12
1413  케이비제20호스팩  342550  0.10
1202      아시아종묘  154030  0.09
829        삼아제약    9300  0.07
1060      웰크론한텍   76080  0.01

In [28]:
df_roe.head()
df_roe = df_roe[(df_roe.ROE < 100) & (df_roe.ROE > 20)]
df_roe.head()
df_roe

           종목명    종목코드    ROE
1403      현진소재   53660  95.14
171        피씨엘  241820  91.65
121     엑세스바이오  950130  89.16
824   아이패밀리에스씨  114840  79.99
768   SGC이테크건설   16250  79.74
...        ...     ...    ...
1309      엠브레인  169330  20.22
177      원익피앤이  131390  20.17
184   이베스트투자증권   78020  20.09
499       싸이맥스  160980  20.05
739        네오셈  253590  20.01

[134 rows x 3 columns]