In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./KOSPI데이터0305.xlsx', engine='openpyxl')
df.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,6.684496,4266212,1217212,3049000,5777
1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,7.626113,711739,192648,519091,11061
2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,36.897202,170142,87591,82551,101024
3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,44.361961,119540,45262,74278,2540
4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,6.743990,413889,225985,187904,38376

In [3]:
df_psr = df[['종목명','PSR']]
df_psr.head()

      종목명        PSR
0    삼성전자   1.556472
1  SK하이닉스   2.943922
2   NAVER  10.067306
3     카카오  10.363717
4    LG화학   1.309677

In [4]:
df_psr = df_psr[df_psr.PSR > 0]
df_psr.tail()

         종목명       PSR
782      체시스  0.783217
783      코아스  0.340122
784  다이나믹디자인  0.420573
785     부산주공  0.210216
786     에이리츠  0.568224

In [7]:
df_psr1 = df_psr.sort_values(by='PSR', ascending=False)
df_psr1

           종목명         PSR
50      SK바이오팜  260.842308
447         대덕   75.147059
171     롯데관광개발   74.017857
17       카카오페이   68.201477
29   SK바이오사이언스   50.355496
..         ...         ...
667    화승코퍼레이션    0.073174
498      GS글로벌    0.072433
300     한화손해보험    0.061430
461       흥국화재    0.053684
120         한화    0.046145

[786 rows x 2 columns]

In [8]:
df_psr1[:78]
df_psr1[78:156]
df_psr1[156:234]
df_psr1[234:312]
df_psr1[312:390]
df_psr1[390:468]
df_psr1[468:546]
df_psr1[546:624]
df_psr1[624:702]
df_psr1[702:]

         종목명       PSR
398     한솔제지  0.200212
310       한진  0.199666
512       대창  0.199657
244   미래에셋생명  0.198798
436       선진  0.194051
..       ...       ...
667  화승코퍼레이션  0.073174
498    GS글로벌  0.072433
300   한화손해보험  0.061430
461     흥국화재  0.053684
120       한화  0.046145

[84 rows x 2 columns]